@charset "UTF-8";
.header {
  font-family: Arial, Helvetica, sans-serif;
}
.header .header__logo {
  text-align: center;
}
.header .header__logo .header__img {
  max-width: 350px;
}
.header .menu .menu__list {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .header .menu .menu__list {
    width: 100%;
    padding: 15px 0;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .header .menu .menu__list {
    width: 100%;
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .header .menu .menu__list {
    width: 80%;
    padding: 20px 0;
  }
}
.header .menu .menu__list .menu__links {
  position: relative;
}
@media (max-width: 767.98px) {
  .header .menu .menu__list .menu__links {
    padding: 5px 0;
  }
}
.header .menu .menu__list .menu__links:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  margin: auto;
  height: 15px;
  width: 1px;
  background-color: #eaeaeb;
}
.header .menu .menu__list .menu__links .menu__link {
  padding: 0 25px;
  color: #464646;
  transition: all 0.4s;
}
.header .menu .menu__list .menu__links .menu__link:hover {
  color: #A050BE;
}

/* @import './vars'; */
/* Main */
.main {
  display: flex;
  justify-content: center;
  flex: wrap;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 767.98px) {
  .main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.main .main__content {
  width: 70%;
  padding: 40px 8px;
}
@media (max-width: 767.98px) {
  .main .main__content {
    width: 100%;
  }
}
.main .main__content .main__post {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.main .main__content .main__post .main__title {
  text-decoration: none;
  font-size: 1.375rem;
  color: #464646;
  letter-spacing: 1.5;
  transition: all 0.4s;
}
.main .main__content .main__post .main__title:hover {
  color: #A050BE;
}
.main .main__content .main__post .main__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* @extend %default-margin-top;
  @extend %double-margin-bottom; */
  margin-top: 10px;
  margin-bottom: 20px;
}
.main .main__content .main__post .main__subtitle .main__date {
  /* @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right; */
  margin: 0 10px;
  font-size: 0.75rem;
  font-style: italic;
}
.main .main__content .main__post .main__subtitle .main__tag {
  font-size: 0.875rem;
  padding: 5px 7px;
  color: #A050BE;
  border: 1px solid #A050BE;
  margin: 0 10px;
  /* @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right; */
}
.main .main__content .main__post .main__details {
  border: 1px solid #eaeaeb;
}
.main .main__content .main__post .main__details .main__img {
  width: 100%;
}
.main .main__content .main__post .main__details .main__description {
  padding: 40px 0 25px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
}
.main .main__content .main__post .main__details .main__btn {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1.5;
  color: #A050BE;
  background-color: #FABE50;
  padding: 10px 20px;
  transition: 0.3s;
  /* font-weight  : 600; */
}
.main .main__content .main__post .main__details .main__btn:hover {
  color: #FABE50;
  background-color: #A050BE;
}
.main .main__content .main__post .main__details .main__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaeb;
  margin-top: 30px;
}
.main .main__content .main__post .main__details .main__info .main__author {
  width: 50%;
  border-right: 1px solid #eaeaeb;
}
.main .main__content .main__post .main__details .main__info .main__author .main__p {
  font-size: 0.875rem;
  color: #464646;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main .main__content .main__post .main__details .main__info .main__comments {
  width: 50%;
}
.main .main__content .main__post .main__details .main__info .main__comments .main__a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #464646;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s;
}
.main .main__content .main__post .main__details .main__info .main__comments .main__a:hover {
  color: #A050BE;
}
.main .main__sidebar {
  width: 25%;
  padding: 40px 10px;
}
@media (max-width: 767.98px) {
  .main .main__sidebar {
    width: 90%;
    padding-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .main .main__sidebar {
    width: 70%;
    padding-top: 20px;
  }
}
.main .sidebar .sidebar__top {
  border: 1px solid #eaeaeb;
  padding: 15px 20px;
}
.main .sidebar .sidebar__top .sidebar__title {
  background-color: #FABE50;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  letter-spacing: 1.5px;
}
.main .sidebar .sidebar__top .sidebar__posts {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list:not(:last-child) {
  border-bottom: 1px dashed #eaeaeb;
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__img {
  width: 40%;
  transition: all 0.4s;
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__details {
  width: 50%;
  padding-left: 10px;
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__details .sidebar__post-title {
  font-size: 0.875rem;
  color: #464646;
  transition: all 0.4s;
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__details .sidebar__post-title:hover {
  color: #A050BE;
}
.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__details .sidebar__post-date {
  font-size: 0.75rem;
  margin: 5px 0 0 0;
}

/* Article */
.article {
  width: 80%;
  margin: 0 auto 40px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 767.98px) {
  .article {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .article {
    width: 100%;
  }
}
.article .article__title {
  background-color: #eaeaeb;
  text-align: center;
  padding: 20px;
}
.article .article__title .article__h1 {
  font-size: 1.375rem;
  color: #464646;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.article .article__title .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article .article__title .breadcrumb .breadcrumb__link {
  font-size: 0.75rem;
  /* text-decoration: none; */
  color: #464646;
  transition: all 0.4s;
}
.article .article__title .breadcrumb .breadcrumb__link:hover {
  color: #A050BE;
}
.article .article__title .breadcrumb .breadcrumb__img {
  width: 11px;
  margin: 8px;
}
.article .article__img {
  /* @extend %double-margin-bottom; */
  margin-bottom: 26px;
  width: 100%;
}
.article .article__details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article .article__details .article__date {
  /* @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right; */
  margin: 0 10px;
  font-size: 0.75rem;
  font-style: italic;
}
.article .article__details .article__tag {
  font-size: 0.875rem;
  padding: 5px 7px;
  color: #A050BE;
  border: 1px solid #A050BE;
  margin: 0 10px;
}
.article .article__content {
  font-weight: 100;
  font-size: 0.875rem;
  color: #464646;
  padding: 10px;
}
@media (max-width: 767.98px) {
  .article .article__content {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .article .article__content {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
  }
}

.about {
  width: 80%;
  margin: 0 auto 40px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 767.98px) {
  .about {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .about {
    width: 100%;
  }
}
.about .about__title {
  background-color: #eaeaeb;
  text-align: center;
  padding: 20px;
}
.about .about__title .about__h1 {
  font-size: 1.375rem;
  color: #464646;
  letter-spacing: 1px;
  /* @extend %half-margin-top, %default-margin-bottom, %no-margin-left, %no-margin-right; */
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.about .about__title .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about__title .breadcrumb .breadcrumb__link {
  font-size: 0.75rem;
  /* text-decoration: none; */
  /* text-decoration: none; */
  color: #464646;
  transition: all 0.4s;
}
.about .about__title .breadcrumb .breadcrumb__link:hover {
  color: #A050BE;
}
.about .about__title .breadcrumb .breadcrumb__img {
  width: 11px;
  margin: 8px;
}
.about .about__content .about__img {
  width: 100%;
  /* @extend %double-margin-bottom; */
  margin-bottom: 20px;
}
.about .about__content .about__intro {
  font-weight: 100;
  color: #464646;
  width: 70%;
  margin: 30px auto;
  text-align: center;
  font-size: 1rem;
}
@media (max-width: 767.98px) {
  .about .about__content .about__intro {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .about .about__content .about__intro {
    width: 80%;
  }
}
.about .about__content .about__split {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .about .about__content .about__split {
    flex-direction: column;
  }
}
.about .about__content .about__split .about__img-description {
  width: 45%;
}
@media (max-width: 767.98px) {
  .about .about__content .about__split .about__img-description {
    width: 80%;
  }
}
.about .about__content .about__split .about__txt {
  width: calc(100% - 45%);
}
@media (max-width: 767.98px) {
  .about .about__content .about__split .about__txt {
    width: 320px;
    text-align: center;
  }
}
.about .about__content .about__split .about__txt .about__p {
  font-size: 0.875rem;
  padding: 10px 20px;
  color: #464646;
}

.contact__p-1 {
  font-size: 2.5rem;
  padding-top: 5px;
}

.contact__p-2 {
  font-size: 1.25rem;
  padding-top: 10px;
}

.contact__p-3 {
  font-size: 0.8333333333rem;
  padding-top: 15px;
}

.contact__p-4 {
  font-size: 0.625rem;
  padding-top: 20px;
}

/* @import './mixins'; */
.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
}
@media (max-width: 767.98px) {
  .collection {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .collection {
    width: 90%;
  }
}
.collection .collection__post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 767.98px) {
  .collection .collection__post {
    width: 100%;
  }
}
.collection .collection__post.half {
  width: 50%;
}
@media (max-width: 767.98px) {
  .collection .collection__post.half {
    width: 100%;
  }
}
.collection .collection__post:not(:last-child) {
  margin-bottom: 20px;
}
.collection .collection__post .collection__figure {
  width: 50%;
}
.collection .collection__post .collection__figure .collection__img {
  width: 100%;
}
.collection .collection__post .collection__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}
.collection .collection__post .collection__about .collection__title {
  color: #464646;
  text-decoration: unset;
  letter-spacing: 1px;
  width: 100%;
  margin: 10px 0;
  font-size: 1.375rem;
}
@media (max-width: 767.98px) {
  .collection .collection__post .collection__about .collection__title {
    font-size: 1rem;
  }
}
.collection .collection__post .collection__about .collection__title.half {
  font-size: 1.125rem;
}
@media (max-width: 767.98px) {
  .collection .collection__post .collection__about .collection__title.half {
    font-size: 1rem;
  }
}
.collection .collection__post .collection__about .collection__title:hover {
  color: #A050BE;
  text-decoration: underline;
}
.collection .collection__post .collection__about .collection__date {
  /* @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right; */
  margin: 0 10px;
  font-size: 0.75rem;
  font-style: italic;
  width: 20%;
}
@media (max-width: 767.98px) {
  .collection .collection__post .collection__about .collection__date {
    font-size: 0.625rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .collection .collection__post .collection__about .collection__date {
    width: 30%;
  }
}
.collection .collection__post .collection__about .collection__tag {
  font-size: 0.875rem;
  width: 50px;
  padding: 5px 7px;
  color: #A050BE;
  border: 1px solid #A050BE;
  /*  @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right; */
  margin: 0 10px;
}
@media (max-width: 767.98px) {
  .collection .collection__post .collection__about .collection__tag {
    width: 30px;
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .collection .collection__post .collection__about .collection__tag {
    width: 35px;
    font-size: 0.75rem;
  }
}
.collection .collection__breadcrumb {
  background-color: #eaeaeb;
  text-align: center;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767.98px) {
  .collection .collection__breadcrumb {
    width: 100%;
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .collection .collection__breadcrumb {
    width: 100%;
    font-size: 0.75rem;
  }
}
.collection .collection__breadcrumb.breadcrumb .breadcrumb__link {
  font-size: 1.125rem;
  text-decoration: unset;
  color: #464646;
  letter-spacing: 1px;
}
.collection .collection__breadcrumb.breadcrumb .breadcrumb__link:hover {
  color: #A050BE;
  /* text-decoration: underline; */
}
.collection .collection__breadcrumb.breadcrumb .breadcrumb__img {
  width: 15px;
  margin: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  /* @extend %double-margin-top; */
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media (max-width: 767.98px) {
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
}
.contact .contact__figure {
  width: 50%;
}
@media (max-width: 767.98px) {
  .contact .contact__figure {
    width: 100%;
  }
}
.contact .contact__figure .contact__img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .contact .contact__figure .contact__img {
    max-width: 100%;
    margin-left: 0px;
  }
}
.contact .contact__info {
  width: 40%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 767.98px) {
  .contact .contact__info {
    width: 86%;
    text-align: left;
    margin: 20px 0 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact .contact__info {
    margin: 40px 0 40px 0;
    width: 55%;
  }
}

/* Rodapé do blog */
.footer {
  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer .footer__logo {
  max-width: 100px;
}
.footer .footer__txt {
  margin: auto;
  font-size: 0.875rem;
}

.contact__p-1 {
  font-size: 2.5rem;
  padding-top: 5px;
}

.contact__p-2 {
  font-size: 1.25rem;
  padding-top: 10px;
}

.contact__p-3 {
  font-size: 0.8333333333rem;
  padding-top: 15px;
}

.contact__p-4 {
  font-size: 0.625rem;
  padding-top: 20px;
}

.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__details .sidebar__post-title, .article .article__title .breadcrumb .breadcrumb__link, .about .about__title .breadcrumb .breadcrumb__link {
  text-decoration: none;
}

.main .sidebar .sidebar__top .sidebar__posts .sidebar__list .sidebar__details .sidebar__post-title:hover, .article .article__title .breadcrumb .breadcrumb__link:hover, .collection .collection__breadcrumb.breadcrumb .breadcrumb__link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
